.main-container{
    position: relative;
    padding: 30px 0;
    .loader-box{
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}