.series-details{
    box-shadow: 0 0 10px rgba($color-2, .3);
    &__back-btn{
        position: absolute;
        top: 0;
        width: 70px;
        height: 100%;
        z-index: 1;
        cursor: pointer;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            max-width: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &__back-btn{
        left: -70px;
    }
    &__img{
        max-width: 100%;
        &-box{
            padding: 0;
            min-height: 480px;
            background: $color-3 url(../../img/spin.svg) no-repeat center;
        }
    }
    &__desc{
        background: darken($color-1, 5%);
        padding: 15px;
        position: relative;
    }
    &__title{
        color: $color-3;
        font-size: 2rem;
    }
    &__year{
        font-weight: normal;
        font-size: 0.5em;
        display: inline-block;
        margin-left: 10px;
    }
    &__description{
        margin: 20px 0 30px;
    }
    &__people{
        font-size: 0.9em;
        &-row{
            margin-bottom: 5px;
            &-title{
                display: inline-block;
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }
    &__imdb{
        margin-top: 30px;
        font-size: 0.9em;
        &-title{
            display: inline-block;
            font-weight: bold;
            margin-right: 10px;
        }
        &-rate{
            display: inline-block;
            margin-right: 10px;
            font-size: 0.6em;
            strong{
                font-size: 1.7em;
            }
        }
    }
}