.series-item{
    margin-bottom: 30px;
    &__inner{
        box-shadow: 0 0 10px rgba($color-2, .3);
        background: $color-3;
        color: $color-1;
        transition: all .5s ease;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 15px rgba($color-2, .6);
        }
    }
    &:focus{
        outline: none;
        .series-item__inner{
            box-shadow: 0 0 0 5px $color-3;
            background: $color-1;
            color: $color-3;
        }
    }
    &__img{
        max-width: 100%;
        &-box{
            min-height: 144px;
            background: $color-3 url(../../img/spin.svg) no-repeat center;
        }
    }
    &__title-box{
        display: flex;
        align-items: stretch;
        padding: 10px;
    }
    &__title{
        flex-grow: 9;
    }
    &__year{
        flex-grow: 1;
        font-size: 0.8em;
        align-self: center;
        text-align: right;
    }
}

.loader-box{
    background: $color-3;
}